body{
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}
/* navbar */
.bg-light {
    background-color: #410404 !important;
}
/* .home-section{
     margin-top: -58px; 
} */
.custom-logo{
    max-width: 74px;
   
}

.custom-header{
  font-weight: bold;
}
.demo{
    width: 100%;
    height: 375px !important;
    max-height: 90%;
}
/* .goog-te-gadget .goog-te-combo{ */
    /* margin: 4px 0; */
    
   

    
    
    
}






/* navbar */
/* forecast section */

.change{
    background-color:  goldenrod;
    color: white;
    
    padding: 0.2em;
    
}
.custom-line{
border-bottom: 1px solid orange;
padding-bottom: 12px;
}

.custom__background {
    box-shadow: 0.5em 0 0 #fd5f00, -0.5em 0 0 #fd5f00;
    background: orange;
    color: white;
    padding: .2em;
    display: block !important;
    align-content: center;
    align-items: center;
    max-width: 45%;
    text-align: center;
    position: relative;
    bottom:25%;
    left: 5%;
    position: relative;
    bottom: 20em !important;
    left: 25%;
}

/* global climate  */
.map .responsive-iframe {
    min-width: 100%;
    min-height: 100vh;
    display: block;
    overflow: scroll;
    padding: 0;
    margin: 0;
}
/* global climate */


/* .goog-te-banner { */
    /* display: none; */

}

/* .goog-te-gadget .goog-te-combo { */
    /* margin: 0px 0; */
    /* margin-left: .5em !important; */
    /* padding: 1em !important; */
    /* width: 10em; */
    /* margin-top: 1em !important; */
}

/* .goog-logo-link { */
    /* display: none !important; */
}

/* .goog-te-gadget { */
    /* color: transparent !important; */
}

   
}
/* climate awareness */
.what-we-do {
    /* width:52%; */
    font-weight: lighter;
    border-bottom: 1px solid orange;
    text-align: center;
    margin: auto;
    width: 52%;

}

.border-length {
    width: 38.5%;
    font-weight: lighter;
    border-bottom: 1px solid orange;
    text-align: center;
    margin: auto;
    text-align: center;
    padding-bottom: 12px;
}

.changes {
    background-color: #9c1219f8;
    color: white;
    font-weight: bold;
    padding: 0 .2em;
}
.icon  {
    max-width: 90px;
    padding-top: 0.8em;
}

.movement {
    min-height: 30vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.8s linear;
}

.movement:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #D06427;
    color: white;
    box-shadow: -15px -15px #ffbb00;
    transition: all 0.3s linear;
}

.green,
.p {
    padding: .4em 3em;
}
/*  */
/* mission page css started  */
.mission--header{
    background-color: #F3F7FA;
    min-height: 67.5vh;
}
.mission--copy h2{
 font-size: 2.5em;
 color:#2A344E;
 line-height: 3rem;
    font-weight: bold;

}
.mission--copy p{
    color: #667082;
    font-size: 1.25em;
    line-height: 1.8em;
    font-weight: lighter;
}
.mission--counter{
top: -6em;
z-index: 2;
background-color: #fff;
border-radius: 10px;
padding: 2em 2em;
transition: .3s;
position: relative;
box-shadow: 0 4px 4px rgba(0,0,0,0.09), 0 2px 2px rgba(0,0,0,0.22);
/* top:-3em; */
}
.mission--counter:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.div-parent-section{
    font-size: 16px;
    color:#2A344E;
    }
    .div-middle-section{
        color:grey;
    
    }
    .div-middle-section{
        color: #667082;
    }
    .div-middle-section::before{
      
        display: inline-block;
        content: '\2191';
        vertical-align: middle;
        color: darkgreen;
        font-family: inherit;
        font-size: 30px;
        font-weight: lighter;
        padding: 0 .3em .3em 0;
        /* margin: 0 .6em 0 0; */
    
    }
/*  */
/*form button*/
.form-buttom-custom {
    padding: 10px;
    background-color: #F5A52A;
    text-transform: uppercase;
    color: white;
    border-radius: 40px;
    font-weight: 600;
    width: 120px;
}
/*  right section div   */

.volunteer-custom {

    background-image: radial-gradient(#751002, #000);
    max-height: 57vh;
}

.volunteer-custom img {
    max-width: 15em;
    padding: 0em 1em;
    text-align: center;
}

.head {

    color: white;
    padding: 0 1em;
    font-weight: bolder;
    line-height: 1.5em;
}

.button-volunteer {
    padding: 10px;
    background-color: orange;
    text-transform: uppercase;
    color: white;
    border-radius: 40px;
    font-weight: 800;
    width: 150px;
    transition: all .3s ease-in;
}

.form-check-label {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;

}

.button-volunteer:hover {
    background-color: white;
    color: black;
    transform: scaleX(1.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}






/* footer section code  */


/* footer */
.bg__footer{
    min-height: 20vh;
    background-color:rgb(65, 4, 4);
    color:#fff;
    background-image: url('../assests/img/footer-bg.png');
}
.icon {
    max-width: 90px;
    padding-top: 0.8em;
    display: block;
    margin: auto;
}
.icon img{
    max-width: 90px;
}
/* footer design */
/* donation form */

/* clean css */
.hamformone{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
/* font-size:11px; */
margin-top:0rem;
max-width: 966px;
margin-left: auto;
margin-right: auto;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    border-radius: 4px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    padding: 0 10px 10px 10px;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto !important;
    border: none;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}
.haminputfirst{
    margin-left: 2rem;
}
.astaric{
    color:red;
    font-size: 12px;
}
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}
 .form-control{
    margin-top: 2rem;
}
.schedular-border{
    width: 995px;
}
@media (max-width:666px){
    .form-control {
        margin-top: 1rem;
        margin-right: 0rem !important;
        margin-left: 0rem;
    }
} 
.custom{
    margin-left:6rem;
}


/* .form-control {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
  } */
/* 
  .form-control:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }

  .form-control:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
  } */
  #success_message{ display: none;}
  li{
      margin-left:5px;
  }
  .md-top{
      margin:auto;
      width:100%;
      text-align: center;
      margin-top:5rem;
  }
/* donation form */
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
   
    color: #fff;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0, 0, 0, .5); */
    color: white;


}

.climate-bg{
    min-height: 15%;
    
    


    }